.logo {
  // height: 3.25rem;
  height: 48%;
  margin-left: 2rem;
}

.search {
  flex: 0 0 40%;
  // font-size: 7rem;
  // margin: 0 auto;
  display: flex;
  justify-content: center;

  // background-color: crimson;
  // position: relative;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-gray-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 99px;
    width: 90%;
    // flex: 0 0 90%;
    // flex-shrink: 0;
    // flex-basis: 90%;

    // He used this, and I used `translateX(-180%);` on the button!
    // margin-right: -3.5rem;

    transition: all 0.3s;

    &:focus {
      outline: none;
      // If it wasn't for the default flex shrink, this would probably not work!
      width: 100%;
      // flex: 1;
      // flex-basis: 100%;
      background-color: var(--color-gray-light-3);
    }

    &::placeholder {
      font-weight: 100;
      color: var(--color-gray-light-4);
    }
  }

  &__button {
    // Not going to work because we want the button to adapt with the input!
    // position: absolute;
    // top: 0;
    // left: 0;

    // transform: translateX(-180%);
    // transform: translateX(-3.25rem);
    margin-left: -3.5rem;

    display: flex;
    align-items: center;

    border: none;
    background-color: transparent;

    // He used this with `&__input:focus + &__button` below!
    // background-color: var(--color-gray-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      // transform: translateX(-3.25rem) translateY(2px);
      transform: translateY(2px);
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-gray-dark-3);
  }

  // &__input:focus + &__button {
  //   background-color: var(--color-gray-light-3);
  // }
}

.user-nav {
  display: flex;
  align-items: center;
  // height: 100%;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--color-gray-light-2);
    }
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--color-gray-dark-2);
  }

  &__notification {
    width: 1.75rem;
    height: 1.75rem;

    position: absolute;
    // top: 20%;
    // left: 50%;

    top: 1.5rem;
    right: 1.1rem;

    background-color: var(--color-primary);
    color: #fff;
    border-radius: 50%;
    font-size: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__user-photo {
    /* width: 3.75rem; */
    height: 3.75rem;
    border-radius: 50%;
  }
}

.sidebar-nav {
  font-size: 1.4rem;
  // height: 100rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  // gap: 1rem;
  padding-top: 3.5rem;

  &__item {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    // padding: 1.8rem 3rem;
    &--active,
    &:hover {
      background-color: var(--color-primary);
    }
  }

  &__link:link,
  &__link:visited {
    padding: 1.5rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-gray-light-1);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;

    &:hover {
      // color: red;
      /*  */
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
  }
}

.legal {
  // margin-top: auto; // space-between on parent is better!
  font-size: 1.2rem;
  color: var(--color-gray-light-4);
  padding: 2.5rem;
  text-align: center;
}
