* {
  margin: 0;
  padding: 0;
}

/* ------------------------ */

/* Inheritance */

body {
  font-family: sans-serif;
  color: #444;
  font-size: 29px;
}

nav {
  font-size: 18px;
}

/* ------------------------ */

.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

.post-header {
  margin-bottom: 40px;
}

article {
  margin-bottom: 60px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

ul.related {
  list-style: none;
}

/* To bring back the bullet points that are hidden due to no margin */
ol,
ul {
  margin-left: 50px;
  margin-bottom: 20px;
}

/* h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
} */

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  /* h2 does not always mean a smaller font than h1 */
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* article header p {..} */
#author {
  font-size: 18px;
}

/* footer p {..} */
#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.post-img {
  width: 100%;
  height: auto;
}

/* ------------------------ */

/* Pseudo Classes */

/* li:nth-child(1), */
li:first-child {
  font-weight: bold;
}

/* li:last-child {
  text-decoration: line-through;
} */

/* li:nth-child(even) {
  color: rgb(0, 157, 229);
} */

/* a {
  color: red;
} */

a:link,
a:visited {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  color: rgb(21, 255, 29);
  text-decoration: underline wavy orangered;
}

a:active {
  background-color: black;
}

/* ------------------------ */

/* Conflicting Selectors */

/* #copyright.copyright {
  color: orange;
}

#copyright {
  color: red;
}

.text.copyright {
  color: purple;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */
