/* **************************** */
/* Main Header */
/* **************************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /*
  Using a fixed value here is not important, as we can simply use padding
  at the top and bottom instead. But this is to make it easier for making
  the header sticky.
  */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  /* height: 2.4rem; Breaking the rules LOL */
  height: 2.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;

  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/* 
Adding the multiple classes to make sure it overrides the color property.
In this case, it is not actually needed, since it is written after the base style.
*/
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;

  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* **************************** */
/* Hero Section */
/* **************************** */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
}

.hero-img {
  /* max-width: 100%; */
  width: 100%;
}

/* **************************** */
/* How section */
/* **************************** */

.section-how {
  padding: 9.6rem 0;
}

.step-text-box {
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */

  /* The better choice, and better set it on the parent! */
  /* align-self: center; */
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: yellow; */
  position: relative;
}

.step-img-box::before {
  content: '';
  display: block;
  width: 60%;
  /* A trick, see section notes! */
  padding-bottom: 60%;
  background-color: #fdf2e9;

  position: absolute;
  /* Not needed because of the parent being `flex` and centering from there! */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  border-radius: 50%;
  z-index: -1;
}

.step-img {
  max-width: 35%;
}
