.story {
  &__pictures {
    background-color: rgb(255, 80, 185);

    grid-area: 3 / full-start / 4 / col-end 4;
  }

  &__content {
    // background-color: rgb(130, 255, 80);
    grid-area: 3 / col-end 4 / 4 / full-end;
    padding: 6rem 12rem;

    // Vertically center content (flex)
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    // justify-content: center;

    // Vertically center content (grid)
    display: grid;
    align-content: center;
    justify-items: start;

    // Vertically center content (as grid item)
    // align-self: center;
    // padding: 0 12rem;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
